* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  flex-wrap: wrap;
}
.myCard {
  background-color: rgb(180, 180, 180);
  font-size: 1.5rem;
  padding: 0.5em;
  border: none;
  transition: .5s;
}
.myCard:hover{
    background-color: black;
}

